@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Satoshi", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9ecef;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ced4da;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #556aeb;
  border-radius: 30px;
  transition: 1s ease-out;
}

/* Custom Thumb */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: #556aeb; /* Warna thumb */
  border-radius: 50%; /* Membuat thumb bulat */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
